<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %></br>
  <% @gallery.images.each do |image| %>
  <b>image-name: </b><%= image.name %></br>
  <b>image: </b><%= image_tag image.image_url(:thumb) if image.image %>
   <div class="actions">
        <%= link_to "edit", edit_image_path(image) %> |
        <%= link_to "remove", image, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
</p>

<div class="actions">
<%= link_to 'Add_new_image', new_image_path(:gallery_id => @gallery) %> |
<%= link_to 'Edit_gallery', edit_gallery_path(@gallery) %> |
<%= link_to 'Back_to_gallery', galleries_path %>
</div>
