
<div class="tags">
<% tag_cloud(Image.tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
<% end %>
</div>
<h1>Listing images</h1>

<table>
  <tr>
    <th>Gallery</th>
    <th>Name</th>
    <th>Image</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.gallery_id %></td>
    <td><%= image.name %></td>
    <td><%= image_tag image.image.url(:thumb).to_s %></td>
    <td><%= raw image.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
